body { background: #c3823c; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 52px; display: flex; }
.block-search-0 { color: #38a3c1; font-size: 21px; margin-bottom: 5px; }
.block-helper-1 { color: #73352a; font-size: 18px; margin-bottom: 5px; }
.block-sms-2 { color: #8f6941; font-size: 15px; margin-bottom: 5px; }
.block-helper-3 { color: #a03a5b; font-size: 19px; margin-bottom: 5px; }
.block-cluster-4 { color: #a38dbe; font-size: 13px; margin-bottom: 5px; }
.block-order-5 { color: #bbec62; font-size: 13px; margin-bottom: 5px; }
.block-email-6 { color: #fd76e3; font-size: 21px; margin-bottom: 5px; }